/*****TAG SELECTORS*****/
body{
  margin: 0;
  text-align: center;
  background-color: LightSkyBlue;
  font-family: 'Poppins', sans-serif;
}

h1{
  color: DarkBlue;
}

h2{
  color: DarkBlue;
}

h3{
  color:DarkBlue;
}

h4{
  color:DarkBlue;
}

h5{
  color:DarkBlue;
}

h6{
  color:DarkBlue;
}

a:hover{
  color: #801336;
}

a{
  color: #11999E;
  text-decoration: none;
}

hr{
  background-color: Cyan;
  color: Blue;
  border-style: dashed;
  width: 10%;
  margin: 5rem auto;
}

p{
  line-height: 2;
}

/*****CLASS SELECTORS*****/
.top-container{
  background-color: #d2fafb;
  margin: 0 0 0 0;
  padding-top: 2%;
}

.developer{
  text-decoration: underline;
}

.profile{
  margin: 6.25rem 0;
}

.me{
  border-radius: 50%;
}

.top-cloud{
  position: relative;
  left: 25rem;
}

.bottom-cloud{
  position: absolute;
  left: 14rem;
}

.a-dev-in-training{
  font-family: 'Lobster', cursive;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
}

.my-name{
  margin: 3.1rem auto 0 auto;
  font-size: 4.7rem;
}

.im-eagan{
  font-size: 5.6rem;
  margin: 1%;
  font-family: 'Pacifico', cursive;
  color: #66BFBF;
}

.i-know-code{
  color: #11999E;
}

.learning-web-dev{
  color: #11999E;
}

.skill-row{
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
}

.coding{
  width: 25%;
  float: left;
  margin-right: 1.875rem;
}

.html{
  width: 25%;
  float: right;
  margin-right: 1.875rem;
}

.bottom-container{
  background-color: #c7f0db;
  margin-top: 1.75rem;
  padding-top: 1.9rem;
  padding-bottom: 1rem;
}

.btn{
  color: #fff3af;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 0 #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #63B8EE,  #468CCF);
  background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
  background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);
}

.btn:hover{
  color: #464159;
  background: #468CCF;
}

.info-about-email{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.elf{
  height: 18.75rem;
  width: 18.75rem;
}

.ever-since-i-was-eleven{
  width: 30%;
  margin: 1.5rem auto;
}

.copyright{
  color: #f6769;
}
